.movie-card-container {
  height: 340px;
  overflow: hidden;
}

.movie-card {
  position: relative;
  height: 100%;
  background-color: #000;
  color: white;
  border: 2px solid #333;
  transition: 150ms transform;
  cursor: pointer;
}

.movie-card:hover {
  /* border-color: var(--purple); */
  /* transform: scale(1.02); */
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333;
  object-fit: cover;
}

.movie-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-title {
  font-size: 1rem;
  /* color: var(--black); */
}

.movie-card-btn {
  width: 100%;
  background-color: var(--purple);
  border: none;
  transition: 150ms background-color;
}

.movie-card-btn-bookmark {
  position: absolute;
  top: -8px;
  right: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  padding: 0;
}

.movie-card-btn-bookmark svg {
  width: 38px;
  stroke: none;
  fill: rgba(255, 255, 255, 0.2);
}

.movie-card-btn-bookmark-clicked svg {
  fill: var(--purple);
}

.movie-card-btn-bookmark svg:hover {
  fill: var(--purple);
}

.movie-card-btn-test:hover {
  color: var(--purple);
}

.movie-card-btn-favorite {
  background-color: orange;
}

.movie-card-btn:hover,
.movie-card-btn:active {
  background-color: orange;
}

@media (min-width: 576px) and (max-width: 767px) {
  .movie-card-container {
    height: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .movie-card-container {
    height: 280px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .movie-card-container {
    height: 280px;
  }
}
